.desktop-button {
	position: absolute;
	border: 0;
	outline: 0;
	background-color: transparent;

	&--is-active {
		z-index: 1;
	}

	&__icon {
		position: absolute;
		top: 0;
		left: 50%;
		margin: 0 auto;
		transform: translate(-50%, -110%);
		border: 2px solid transparent;
	}

	&--is-active &__icon {
		border: {
			top: 2px solid black;
			right: 2px solid white;
			bottom: 2px solid white;
			left: 2px solid black;
		}
	}

	&__title {
		background-color: #b1b1b1;
		font-size: 14px;
		letter-spacing: -0.5px;
	}
}
