.desktop-button {
	position: absolute;
	border: 0;
	outline: 0;
	background-color: transparent;

	&--is-active {
		z-index: 1;
	}

	&__icon {
		position: absolute;
		top: 0;
		left: 50%;
		margin: 0 auto;
		padding: 3px;
		transform: translate(-50%, -110%);
		border: {
			top: 2px solid #fefefe;
			right: 1px solid #0f0f0f;
			bottom: 2px solid #0f0f0f;
			left: 1px solid #fefefe;
		};
		background-color: #b1b1b1;
	}

	&--is-active &__icon {
		border: {
			top: 2px solid #0f0f0f;
			right: 1px solid #fefefe;
			bottom: 2px solid #fefefe;
			left: 1px solid #0f0f0f;
		}
	}

	&__title {
		max-width: 124px;
		background-color: transparent;
		font-size: 14px;
	}
}
