.window-button {
	flex-shrink: 0;
	width: 23px;
	height: 21px;
	border: {
		top: 1px solid #fefefe;
		right: 1px solid #0f0f0f;
		bottom: 1px solid #0f0f0f;
		left: 1px solid #fefefe;
	}
	background-color: #aeaeae;
	background-repeat: no-repeat;
	background-position: center;

	&:hover {
		border: {
			top: 1px solid #0f0f0f;
			right: 1px solid #fefefe;
			bottom: 1px solid #fefefe;
			left: 1px solid #0f0f0f;
		}
	}

	&--is-active {
		background-color: #6e8ebe;
	}

	&--is-close {
		background-image: url('./../../images/30/close-button-inactive.png');
	}

	&--is-active#{&}--is-close {
		background-image: url('./../../images/30/close-button-active.png');
	}

	&--is-change-window {
		background-image: url('./../../images/30/change-window-button-inactive.png');
	}

	&--is-active#{&}--is-change-window {
		background-image: url('./../../images/30/change-window-button-active.png');
	}

	&--is-maximize {
		background-image: url('./../../images/30/maximize-button-inactive.png');
	}

	&--is-active#{&}--is-maximize {
		background-image: url('./../../images/30/maximize-button-active.png');
	}

	&--is-left {
		background-image: url('./../../images/30/arrow-left.png');
	}

	&--is-right {
		background-image: url('./../../images/30/arrow-right.png');
	}

	&--is-bottom {
		width: 16px;
		height: 18px;
		border-top: 1px solid #fefefe;
		border-bottom: 1px solid #0f0f0f;
	}

	&--is-up {
		background-image: url('./../../images/30/arrow-up.png');
	}

	&--is-down {
		background-image: url('./../../images/30/arrow-down.png');
	}

	&--is-resize {
		width: 18px;
		height: 18px;
		border-top: 1px solid #fefefe;
		border-bottom: 1px solid #0f0f0f;
		background-image: url('./../../images/30/window-resize.png');
	}

	&--is-vertical {
		width: 16px;
		height: 22px;
		border: {
			top: 2px solid #fefefe;
			right: none;
			bottom: 2px solid #0f0f0f;
			left: none;
		}
	}

	&:focus {
		outline: none;
	}

}