.header {
	display: flex;
	flex-direction: row;
	height: 23px;
	border-bottom: 2px solid #000;
	background-color: #fefefe;

	&__title {
		display: none;
		margin: 2px 0 4px 6px;
		font-size: 12px;
		font-weight: normal;

		@media (min-width: 360px) {
			font-size: 14px;
		}

		@media (min-width: 575px) {
			display: block;
		}

		&--is-main {
			display: block;
		}
	}
}
