.window {
	display: flex;
	position: absolute;
	z-index: 10;
	flex-direction: column;
	border: {
		top: 1px solid #fefefe;
		bottom: 1px solid #0f0f0f;
	}

	&--is-active {
		z-index: 11;
	}

	&--is-underside {
		z-index: 9;
	}
}
