@font-face {
	font-family: 'Topaz-8';
	src: url('./font/Topaz-8.woff');
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Topaz-8', Arial, Helvetica, sans-serif;
	cursor: url('./images/30/cursor.png'), auto;
	user-select: none;
}

body {
	min-height: 100vh;
	background-color: #b1b1b1;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: 0 auto;
}

.content {
	position: relative;
	width: 100%;
	height: calc(100vh - 23px);
	overflow: hidden;
}
